.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.humanContainer {
  width: 30vw;
  height: 100%;
  display: flex;
  justify-content: center;
}

.humanCheckbox {
  display: none;
}
#humanCheck:checked ~ .humanLabel {
  filter: drop-shadow(0 0 7px gold);
}
.humanLabel {
  transition: all 0.5s;
}

.footer__img {
  height: 100%;
}

.humanShoutOut {
  font-size: 0.6rem;
  padding: 0.3rem;
  position: relative;
  background: #dfdfdf;
  border-radius: 0.4em;
}

.placeholder {
  width: 30vw;
  height: 100%;
}
.human {
  width: 35px;
}
.humanShoutOut::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-right-color: #dfdfdf;
  border-left: 0;
  border-top: 0;
  margin-top: -8px;
  margin-left: -8px;
}

.credits {
  width: 30vw;
  color: white;
  font-size: 0.8rem;
  justify-self: flex-end;
}
