/* Referrence https://www.youtube.com/watch?v=WXfGWidDFzA */

.kittyBox {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;

  /* background-color: rgb(228, 65, 65); */
}

.kittyLabel {
  display: block;
  width: 40px;
  height: 40px;
  background: url(https://media.giphy.com/media/U78wKLnlpdIQQgpNK2/giphy.gif);

  cursor: pointer;
  background-size: cover;
  position: relative;
  transition: all 0.4s;

  border-width: 2px;
  border-style: outset;
  border-color: #767676;
  border-image: initial;
}

#kittyCheck {
  display: none;
}
#kittyCheck:checked ~ .kittyLabel {
  background-color: red;
}

.kittyLabel::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 25px;
  border-right: 3px solid lime;
  border-bottom: 3px solid lime;
  border-radius: 1px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(40deg) scale(2);
  opacity: 0;
  transition: all 0.4s;
}

.searchButton:focus,
.kittyBox:focus {
  outline: none;
  border: 2px solid limegreen;
}
#kittyCheck:checked ~ .kittyLabel::after {
  opacity: 1;
  transform: translate(-50%, -50%) rotateZ(40deg) scale(1);
}

/* INPUT Field */
.input {
  font-family: "Turret Road", cursive;

  text-align: center;
  font-size: 1.5rem;
  background: black;
  color: limegreen;
  margin: 0 0.2rem;
}

.input::placeholder {
  font-size: 1rem;
  color: limegreen;
  opacity: 0.6;
}

.input:focus {
  outline: none;
  border: 2px solid limegreen;
}

.form {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

/* Search  */
.searchButton {
  font-size: 1.5rem;
  height: 40px;
  background: url(https://media.giphy.com/media/1zhHiGwQiu2CaGj1uE/giphy.gif);
  background-size: contain;

  cursor: pointer;
}

.searchButton:focus {
  outline: none;
  border: 2px solid limegreen;
}
