/* Referrence https://www.youtube.com/watch?v=WXfGWidDFzA */

.kittyBox {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;

  /* background-color: rgb(228, 65, 65); */
}

.kittyLabel {
  display: block;
  width: 40px;
  height: 40px;
  background: url(https://media.giphy.com/media/QjSoXOQIcEXBu/giphy.gif);

  cursor: pointer;
  background-size: cover;
  position: relative;
  transition: all 0.4s;

  border-width: 2px;
  border-style: outset;
  border-color: #767676;
  border-image: initial;
}

#kittyCheck {
  display: none;
}
#kittyCheck:checked ~ .kittyLabel {
  background-color: red;
}

.kittyLabel::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 25px;
  border-right: 3px solid lime;
  border-bottom: 3px solid lime;
  border-radius: 1px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(40deg) scale(2);
  opacity: 0;
  transition: all 0.4s;
}

.searchButton:focus,
.kittyBox:focus {
  outline: none;
  border: 2px solid limegreen;
}
#kittyCheck:checked ~ .kittyLabel::after {
  opacity: 1;
  transform: translate(-50%, -50%) rotateZ(40deg) scale(1);
}

/* INPUT Field */
.input {
  font-family: "Turret Road", cursive;
  width: clamp(150px, 35vw, 300px);
  text-align: center;
  font-size: clamp(1rem, 3vw, 1.5rem);
  background: black;
  color: limegreen;
  margin: 0 0.2rem;
}

.input::placeholder {
  font-size: clamp(0.75rem, 2.8vw, 1.2rem);
  color: limegreen;
  opacity: 0.6;
}

.input:focus {
  outline: none;
  border: 2px solid limegreen;
}

.form {
  display: flex;
  justify-content: center;
}

/* Search  */
.searchButton {
  font-size: 1.5rem;
  height: 40px;
  background: url(https://media.giphy.com/media/1zhHiGwQiu2CaGj1uE/giphy.gif);
  background-size: contain;

  cursor: pointer;
}

.searchButton:focus {
  outline: none;
  border: 2px solid limegreen;
}

.profilePicture {
  height: 20vw;
  max-height: 180px;
  border-radius: 50%;
  border: 1px solid gold;
  box-shadow: 0 0 8px 1px rgba(255, 217, 0, 0.5);
}
.profilePicture:active {
  filter: drop-shadow(0 0 7px gold);
}
