.kittyBox {
  font-size: 1.5rem;
  margin: 0.4rem;
  background: url(https://media.giphy.com/media/U78wKLnlpdIQQgpNK2/giphy.gif);
  cursor: pointer;
  background-size: cover;
  width: 42px;
}

.searchButton {
  font-size: 1.5rem;
  margin: 0.4rem;
  background: url(https://media.giphy.com/media/1zhHiGwQiu2CaGj1uE/giphy.gif);
  background-size: contain;

  cursor: pointer;
}

.searchButton:focus {
  outline: none;
  border: 2px solid limegreen;
}

.input {
  text-align: center;
  font-size: 1.5rem;
  background: black;
  color: limegreen;
}

.input::placeholder {
  font-size: 1rem;
  color: limegreen;
  opacity: 0.6;
}

.input:focus {
  outline: none;
  border: 2px solid limegreen;
}

.form {
  margin-top: 1rem;
}
