.card-image {
  width: 75px;
  height: 75px;
}

.card {
  width: 300px;
  position: relative;
  border-radius: 10px;
  padding: 0 0.5rem;
  margin-left: 20px;
  background: black;
  color: limegreen;
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 57%;
  width: 0;
  height: 0;
  border: 3.125em solid transparent;
  border-right-color: black;
  border-left: 0;
  border-bottom: 0;
  margin-top: -1.562em;
  margin-left: -3.125em;
}
@media only screen and (max-width: 600px) {
  .card::before {
    top: 106%;
    left: 50%;
    border: 2.656em solid transparent;
    border-top-color: black;
    margin-left: -1.656em;
    margin-bottom: -1.656em;
  }
  .card {
    margin-left: 0;
  }
}

.card-text {
  font-size: 2rem;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fa-star {
  color: gold;
  font-size: 2rem;
}

.card-randomQuote {
  display: block;
  margin: 0.5rem auto;
}

.roboFace {
  max-width: 230px;
  max-height: 230px;
  width: auto;
  height: auto;
}
