@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Turret+Road:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Turret Road", cursive;
  margin: 0;
  background: rgb(75, 74, 74);
}

button {
  font-family: "Turret Road", cursive;
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Press Start 2P", cursive;
}
/* Main */
.container {
  width: 100vw;
  height: 100%;
  display: grid;
  align-content: center;
  text-align: center;
  padding: 3rem 0;
}
/* Page Title & Subtext */
.header__title {
  color: white;
}
.header__sub {
  font-size: 1.3rem;
  color: limegreen;
  width: 60%;
  margin: 1.5rem auto 0 auto;
}

/* Robos Favourite Cities */
.robosHeader {
  margin-top: 1rem;
  margin-bottom: 0;
  color: white;
}

.favCities,
.favCitiesBox {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  width: 60%;
  margin: 1rem auto;
}

.favCity {
  background: gold;
  height: 30px;
  color: black;
  padding: auto 0.5rem;
}
.favCities > :last-child {
  margin-top: 0.5rem;
}
.favCity:hover {
  border: 2px solid limegreen;
  color: limegreen;
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

.favCity:active {
  background: limegreen;
  color: black;
  border: 2px solid black;
}

.favCity:focus {
  outline: none;
  border: 2px solid limegreen;
}

/* Weather Output  */
.outputContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .outputContainer {
    flex-flow: column-reverse;
    align-items: center;
  }
  .card::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 1.656em solid transparent;
    border-top-color: black;
    border-bottom: 0;
    margin-left: -1.656em;
    margin-bottom: -1.656em;
  }
}

.clock {
  width: 150px;
  height: 28px;
  margin: auto;
  background-color: black;
  color: limegreen;
  border: 2px solid limegreen;
  line-height: 23px;
}

.loadingContainer {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadingImg {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  transition: 1s ease-in-out;
}

.loadingText {
  color: limegreen;
  width: 60%;
  max-width: 500px;
  margin: 1rem auto;
}
